

.red {color:red; }

.bigred {color:red; font-size:42px;}

.big {color:black; font-size:42px;}

.med {color:black; font-size:24px;}

.small {color:black; font-size:20px;}

.mb {color:black; font-size:36px;}